{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="{%static 'css/index.css'%}">
    <link rel="stylesheet" href="{%static 'css/auths.css'%}">
    <script src="https://kit.fontawesome.com/c676ebde69.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <!-- <ul id="largeNav">
            <li><a href="/">Login</a></li>
            <li><a href="{%url 'signup'%}">Sign up</a></li>
            <li><a href="{%url 'dashboard'%}">Dashboard</a></li>
        </ul> -->
    </header>
    <div class="flash"></div>
    {%block content%}
    
    {%endblock%}
</body>
<script src="{%static 'js/App.js'%}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const createLineChart= ()=>{
        let lineChart= document.querySelector('.line')
        // setups
        const DATA_COUNT = 7;
        const NUMBER_CFG = {count: DATA_COUNT, min: -100, max: 100};
        childData= [20,80,100,200,300,500,800]
        const labels = ['Ikeja', 'Abuja', 'EKEDC', 'EGBEDA', 'PHCN','PHASE 2', 'JOS ELECTRIC'];

        const data = {
        labels: labels,
        datasets: [//datasets (amount of data to create for this entire data)
            {
            label: 'Dataset 1',
            data:[20,100,250,350,450,700,900],
            borderColor: 'red',
            backgroundColor: 'red',
            yAxisID: 'y',
            },
            {
            label: 'Dataset 2',
            data: childData,
            borderColor: 'blue',
            backgroundColor: 'blue',
            yAxisID: 'y1',
            }
        ]
        };

        
    // config
    const config = {
        type: 'line',
        data: data,
        options: {
        responsive: true,
        interaction: {
        mode: 'index',
        intersect: false,
        },
        stacked: false,
        plugins: {
        title: {
            display: true,
            text: 'Electric Voltages'
        }
        },
        scales: {
        y: {
            type: 'linear',
            display: true,
            position: 'left',
            min: 100,
            max:1000
        },
        y1: {
            type: 'linear',
            display: true,
            position: 'right',
            min: 100,
            max:1000,

            // grid line settings
            grid: {
            drawOnChartArea: false, // only want the grid lines for one axis to show up
            },
        },
        }
    },
};

    let lines = new Chart(lineChart, config)
                    
}

    const createPieChar= ()=>{
        let pieChart= document.querySelector('.pieChart')
        const data = {//entire pie chart data
            labels: ['january', 'february','march', 'april'],
            datasets: [//an array for subdata
                {//first subdata/dataset
                label: 'Agbado',
                data: [{//data of first subdata (the smallest unit of datasets)
                    data:20,
                    backgroundColor:'green',
                }, {
                    data:40,
                    backgroundColor:'red',
                },
                {
                    data:60,
                    backgroundColor:'yellow',
                },
                {
                    data:80,
                    backgroundColor:'brown',
                }],
            },
            ]
        };
        
        const config = {
            type: 'pie',
            data: data,
            options: {}
        };
        
        let chart = new Chart(pieChart, config)
}
    createLineChart()
    createPieChar()
</script>
<footer>
    
</footer>
</html>