{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="{%static 'css/index.css'%}">
    <link rel="stylesheet" href="{%static 'css/auths.css'%}">
    <link rel="icon" type="image/*" href="{%static 'img/climathon_icon.png'%}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>
<body>
    <header>
        <!-- <ul id="largeNav">
            <li><a href="/">Login</a></li>
            <li><a href="{%url 'signup'%}">Sign up</a></li>
            <li><a href="{%url 'dashboard'%}">Dashboard</a></li>
        </ul> -->
    </header>
    <div class="flash"></div>
    {%block content%}
    
    {%endblock%}
</body>
<script src="{%static 'js/App.js'%}"></script>
<script src="https://kit.fontawesome.com/c676ebde69.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const createLineChart= ()=>{
        let lineChart= document.querySelector('.line')
        // setups
        const DATA_COUNT = 7;
        const NUMBER_CFG = {count: DATA_COUNT, min: -100, max: 100};
        childData= [150,250,100,550,350,850,450, 950, 550]
        const labels = ['january', 'february','march', 'april', 'May', 'June, July'];

        const data = {
        labels: labels,
        datasets: [//datasets (amount of data to create for this entire data)
            {
            label: 'Grid',
            data:[100,200,150,350,250,450,700, 500, 800],
            borderColor: 'red',
            backgroundColor: 'red',
            tension: 0.4,
            yAxisID: 'y',
            },
            {
            label: 'Peak',
            data: childData,
            borderColor: 'blue',
            backgroundColor: 'blue',
            tension: 0.4,
            yAxisID: 'y1',
            }
        ]
        };

        
    // config
    const config = {
        type: 'line',
        data: data,
        options: {
            responsive: true,
            interaction: {
                mode: 'index',
                intersect: false,
                },
            stacked: false,
            plugins: {
                title: {
                    display: true,
                    text: 'Overall Grid Wattage',
                    display:true,
                    text: 'Grid information around Lagos',
                    color: '#42B04B',
                    align: 'left',
                    font: 'inter',
                }
            },
            scales: {
            y: {
                type: 'linear',
                display: true,
                position: 'left',
                min: 10,
                max:1000
            },
            y1: {
                type: 'linear',
                display: true,
                position: 'right',
                min: 10,
                max:1000,

                // grid line settings
                grid: {
                drawOnChartArea: false, // only want the grid lines for one axis to show up
                },
            },
            }
        },
    };

    let lines = new Chart(lineChart, config)
                    
}

    const createPieChar= ()=>{
        let pieChart= document.querySelector('.pieChart')
        const data = {//entire pie chart data
            labels: ['Yaba', 'Akoka', 'Maryland', 'Bariga'],
            datasets: [//an array for subdata
                {//first subdata/dataset
                label: 'Agbado',
                data: [60,30,40,90],
                backgroundColor:[
                    '#07631E',
                    '#9F1616',
                    '#A45F2D',
                    '#6F0E9C',
                ],
                outerWidth:"20px",
                outerHeight:"30px",
                borderColor:'white',
                border:{
                    outerWidth:'4px',
                    style:'solid'
                }
            },
            ]
        };
        
        const config = {
            type: 'pie',
            data: data,
            options: {
                legend:{
                    display:true, 
                    position: 'bottom',
                },
                plugins:{
                    title: {
                        display:true,
                        text: 'Grid information around Lagos',
                        color: '#42B04B',
                        align: 'left',
                        fullSize: false,
                    },
            }
            },
            
        };
        
        let chart = new Chart(pieChart, config)
}
    createLineChart()
    createPieChar()
</script>
<footer>
    
</footer>
</html>

<!-- <div class="cont trends-and-number">
    <div class="trends forLine">
        <canvas class="trends trendsCanvas line"></canvas>
    </div>
    <div class="trends forPie">
        <canvas class=" trends numberOfCanvas pieChart"></canvas>
    </div>
</div> -->