{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="{%static 'css/index.css'%}">
    <link rel="stylesheet" href="{%static 'css/auths.css'%}">
    <script src="https://kit.fontawesome.com/c676ebde69.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <!-- <ul id="largeNav">
            <li><a href="/">Login</a></li>
            <li><a href="{%url 'signup'%}">Sign up</a></li>
            <li><a href="{%url 'dashboard'%}">Dashboard</a></li>
        </ul> -->
    </header>
    <div class="flash"></div>
    {%block content%}
    
    {%endblock%}
</body>
<script src="{%static 'js/App.js'%}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const createLineChart= ()=>{
        let lineChart= document.querySelector('.line')
        // setups
        const DATA_COUNT = 7;
        const NUMBER_CFG = {count: DATA_COUNT, min: -100, max: 100};
        childData= [150,250,100,550,350,850,450]
        const labels = ['Ikeja', 'Abuja', 'EKEDC', 'EGBEDA', 'PHCN','PHASE 2', 'JOS ELECTRIC'];

        const data = {
        labels: labels,
        datasets: [//datasets (amount of data to create for this entire data)
            {
            label: 'Grid',
            data:[100,200,150,350,250,450,700],
            borderColor: 'red',
            backgroundColor: 'red',
            yAxisID: 'y',
            },
            {
            label: 'Peak',
            data: childData,
            borderColor: 'blue',
            backgroundColor: 'blue',
            yAxisID: 'y1',
            }
        ]
        };

        
    // config
    const config = {
        type: 'line',
        data: data,
        options: {
        responsive: true,
        interaction: {
        mode: 'index',
        intersect: false,
        },
        stacked: false,
        plugins: {
        title: {
            display: true,
            text: 'Overall Grid Wattage',
        }
        },
        scales: {
        y: {
            type: 'linear',
            display: true,
            position: 'left',
            min: 10,
            max:1000
        },
        y1: {
            type: 'linear',
            display: true,
            position: 'right',
            min: 10,
            max:1000,

            // grid line settings
            grid: {
            drawOnChartArea: false, // only want the grid lines for one axis to show up
            },
        },
        }
    },
};

    let lines = new Chart(lineChart, config)
                    
}

    const createPieChar= ()=>{
        let pieChart= document.querySelector('.pieChart')
        const data = {//entire pie chart data
            title: 'Grid information around Lagos',
            labels: ['january', 'february','march', 'april', 'May'],
            datasets: [//an array for subdata
                {//first subdata/dataset
                label: 'Agbado',
                data: [60,30,40,90, 45],
                backgroundColor:[
                    '#FC9B2A',
                    '#88EAFF',
                    '#07631E',
                    '#9F1616',
                    '#F3DB02',
                ],
                outerWidth:"20px",
                outerHeight:"30px",
                borderColor:'white',
                border:{
                    outerWidth:'4px',
                    style:'solid'
                }
            },
            ]
        };
        
        const config = {
            type: 'pie',
            data: data,
            options: {
                legend:{
                    position: 'bottom',
                }
            }
        };
        
        let chart = new Chart(pieChart, config)
}
    createLineChart()
    createPieChar()
</script>
<footer>
    
</footer>
</html>

<!-- <div class="cont trends-and-number">
    <div class="trends forLine">
        <canvas class="trends trendsCanvas line"></canvas>
    </div>
    <div class="trends forPie">
        <canvas class=" trends numberOfCanvas pieChart"></canvas>
    </div>
</div> -->