{%extends 'base.html'%}

{%block title%}Dashboard{%endblock%}


{%block content%}
<div class="Dashboard">
    <div class="sideBarParent">
        <div class="sideCont infoMaint">
            <h4 id="infoMainTxt"> Grid Info</h4>
            <i class="icon fa-solid fa-house-chimney-crack"></i>
        </div>
        <div class="sideCont infoMaint">
            <h4 id="infoMainTxt"> Grid Info</h4>
            <i class="icon fa-solid fa-house-chimney-crack"></i>
        </div>
        <div class="sideCont infoMaint">
            <h4 id="infoMainTxt"> Grid Info</h4>
            <i class="icon fa-solid fa-house-chimney-crack"></i>
        </div>
        <div class="sideCont infoMaint">
            <h4 id="infoMainTxt"> Grid Info</h4>
            <i class="icon fa-solid fa-house-chimney-crack"></i>
        </div>
        <div class="sideCont infoMaint">
            <h4 id="infoMainTxt"> Grid Info</h4>
            <i class="icon fa-solid fa-house-chimney-crack"></i>
        </div>    
    </div>

    <!-- {/*Parent container for analytics and other info */} -->
    <div class="container analytics">
        <div class=" cont topNav">
            <div id="icon">Icon</div>
            <div id="admin">Admin</div>
        </div>

        <div class="jointStockComp">

        </div>

        <div class=" cont scores-total">

        </div>

        <div class="trends-and-number">
            <div class="trends">
                <canvas class="trends trendsCanvas spiral"></canvas>
            </div>
            <div className="numberOf">
                <canvas class=" trends numberOfCanvas pieChart"></canvas>
            </div>
        </div>

        <div class="enterPrise-stat">

        </div>
    </div>
</div>
{%endblock%}