{%extends 'base.html'%}

{%block title%}Dashboard{%endblock%}


{%block content%}
<div class="Dashboard">
    <div class="sideBarParent">
        <div class="sideCont infoMaint">
            <i class="icon fa-solid fa-house-chimney-crack"></i>
            <h4 id="infoMainTxt"> Dashboard </h4>
        </div>
        <div class="sideCont infoMaint">
            <i class="icon fa-solid fa-house-chimney-crack"></i>
            <h4 id="infoMainTxt"> Analytics </h4>
        </div>
        <div class="sideCont infoMaint">
            <i class="icon fa-solid fa-house-chimney-crack"></i>
            <h4 id="infoMainTxt"> Lightening</h4>
        </div>
        <div class="sideCont infoMaint">
            <i class="icon fa-solid fa-house-chimney-crack"></i>
            <h4 id="infoMainTxt"> Batteries </h4>
        </div>
        <div class="sideCont infoMaint">
            <i class="icon fa-solid fa-house-chimney-crack"></i>
            <h4 id="infoMainTxt">Settings</h4>
        </div> 
    </div>

    <!-- {/*Parent container for analytics and other info */} -->
    <div class="container analytics">
        <div class=" cont topNav">
            <div id="icon">Icon</div>
            <div id="admin">Admin</div>
        </div>

        <div class="cont jointStockComp">
            data
        </div>

        <div class=" cont scores-total">
            data
        </div>

        <div class="cont trends-and-number">
            <div class="trends">
                <canvas class="trends trendsCanvas line"></canvas>
            </div>
            <div className="numberOf">
                <canvas class=" trends numberOfCanvas pieChart"></canvas>
            </div>
        </div>

        <div class="enterPrise-stat">

        </div>
    </div>
</div>
{%endblock%}