{%extends 'base.html'%}
{%block title%}Register{%endblock%}

{%block content%}
    <div class="formCont register-cont">
        <form id="signupForm" method="post" onsubmit="handleAuth()">
            {%csrf_token%}
            <input type="text" name="name" id="name" placeholder="Name">
            <input type="text" name="username" id="username" placeholder="Username">
            <input type="email" name="email" id="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <button type="submit">Register</button>
        </form>
    </div>
{%endblock%}