/* containers for signup here first */
.parent-form-cont-with-bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10%;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url('');
    color: white;
    width: 100%;
    height: 100%;
}

.for-opac{/*for opacity in the signup div*/
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(90deg, rgb(14, 13, 13), grey);
    align-self: flex-start;
}

.formCont.register-cont{/*for the sign up*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    z-index: 100;
    width: 50%;
    height: 100%;
    text-align: left;
}

.formCont.register-cont>* {
    margin-bottom: 15px;
}
/*things in formCont.register-cont*/
#start-txt{
    z-index:100;
    font-size: 10px;
    text-align: left;
    align-self: flex-start;
    color:rgb(224, 216, 216);
}

#headsup{
    color:rgb(224, 216, 216);
}
#form-anch{
    text-decoration: none;
    color: blue;
}/*ends here*/

.names{/*holding two inputs for 'name' and 'last name'*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
    width:100%;
    margin-left: -10px;
}

.formCont form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    width: 50%;
    margin: 8px;
}
#break{
    width: 10%;
    height: 5px;
    border-bottom:solid 2px black;
    border-top:none ;
}
#welcome{
    text-align: left;
}
.formCont form >input, .names > input, .formCont form >input:focus, .names > input:focus{/*applies to both signup and login forms*/
    width: 100%;
    height: 30px;
    border-radius: 10px;
    padding: 8px;
    border: none;
    text-align: left;
    margin:10px;
    outline: none;
}

.formCont form >button{
    width: fit-content;
    height: 30%;
    padding: 8px;
    transition: all 0.5s ease;
    background-color: rgb(18, 196, 18);
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

/* .formCont form >button:hover{
    background-color: white;
    color: black;
    border: solid 4px rgb(18, 196, 18);
    border-radius: 20px;
} */