*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
}

body{
    width: 100%;
    height: 100%;
}
.flash{
    display:none;
    text-align: center;
    color: white;
}
/* header, ul#largeNav{
    width: 100%;
}
ul#largeNav{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    list-style: none;
    background-color: rgb(18, 196, 18);
}
#largeNav li >a {
    text-decoration: none;
    color: white;
} I'm not sure there's a need for this header there. I'd just leave it this way, in case the need be.*/

.Dashboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border: solid 2px black;
    width: 100%;
    height: 100%;
}

.sideBarParent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    padding: inherit;
    position: absolute;
    top: -30;
    right: 30%;
    left: 0;
    bottom: -30;
    background-color: rgb(18, 196, 18);
    color: white;
    width: 20%;
    height: 100%;
    z-index: 100;
}

.sideCont{/*child containers in sideBarParent*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    align-self: center;
}

.icon{
    align-self: center !important; 
}
/* container--> counterpart of sidebar where other things including analytics go*/
.container{
    width:80%;
}
.cont.topNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cont, .cont.topNav{
    border:solid 1px black;
    width: 100%;
    transform: translateX(12%);
    height: 50%;
    margin: 5px;
}
.cont.trends-and-number{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 4px;
}
.trends-and-number >*{
    margin: 5%;
}