*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter';
}

body{
    width: 100%;
    height: 100%;
}
.flash{
    display:none;
    text-align: center;
    color: white;
}
/* header, ul#largeNav{
    width: 100%;
}
ul#largeNav{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    list-style: none;
    background-color: rgb(18, 196, 18);
}
#largeNav li >a {
    text-decoration: none;
    color: white;
} I'm not sure there's a need for this header there. I'd just leave it this way, in case the need be.*/

.Dashboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.sideBarParent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    padding: inherit;
    position: absolute;
    top: -30;
    right: 30%;
    left: 0;
    bottom: -30;
    background-color: #F7F7F7;
    color: #B3BCB3;
    width: 15%;
    height: 100%;
    z-index: 100;
    border-right: solid 2px #B3BCB3;
}

.sideCont{/*child containers in sideBarParent*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    text-align: center;
    margin: 7%;
    width: 50%;
    cursor: pointer;
}
.dash-txt{
    color: black;
}
.icon{
    align-self: center !important; 
    width: 80% !important;
    height: 80% !important;
    transition: all 0.3s ease;
}

#infoMainTxt{
    transition: all 0.3s ease;
    font-weight: 400;
}

.icon:hover, #infoMainTxt:hover{
    font-weight: 700;
    color:black
}
/* container--> counterpart of sidebar where other things including analytics go*/
.container{/*found after the sidebar container*/
    width:86%;
}
.cont.topNav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#leftIcon{/*hamburger div at top nav*/
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 8px;
    cursor: pointer;
}
#leftIcon>*{
    margin: 4px;
}
.licenced{
    width: 85px;
    padding: 5px;
    border-radius: 15px;
    color:white ;
    background-color: #42B04B;
    text-align: center;
}
.search-cont{/*parent container for the search icon and search element*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius:20px;
    border: solid 1px #DEDEDE;
    width:20%;
    height: fit-content;
    padding: 5px;
}
#absolute-mag{
    position: absolute;
    top: 20;
    right: 80%;
    left: 2%;
    bottom: 5;
    justify-self: flex-start !important;
}
#search, #search:focus{/*search element itself*/
    border:none !important;
    width: 100%;
    height: 100%;
}
#right-panel{/*th right panel to hamburger div at the top nav*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B3BCB3;
}
#right-panel >*{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    font-weight: 300 !important;
    cursor: pointer;
}
#right-panel>*>*{
    margin: 2px;
}
.img-n-name{/*container holding the image and name at the right panel*/
    display: flex;
    justify-content: center;
    padding: 0px;
    margin-right:-25% !important;
    color: black;
}
/* .img-n-name> *{
    
} */
#user-img{
    border-radius: 50%;
    width: 10%;
    height: 10%;
    margin-right: -70%;
}
.cont{
    width: 100%;
    transform: translateX(8%);
    height: 50%;
    margin: 5px;
    padding: 8px ;
}

.jointStockComp{/*the company details after top nav bar*/
    display: flex;
    justify-content: space-between;
}
.companyProf-nd-info{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-start !important;
    margin-left: -14%;
}

.company-det, .btns{/*company details container and display for their details*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
}
.company-det {
    margin: none;
    justify-self: flex-start !important;
}
#compLogo{/*found within company details*/
    width: 6%;
    height: 60%;
    border-radius: 100%;
}

#companyType{
    font-size: 15px;
}
.stars{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: lightblue; */
}
.star{
    width: 8%;
    height: 8%;
    margin: 3px;
}
.btns>*{
    margin: 8px;
    border-radius: 18px;
    padding: 6px;
    font-weight: 300;
}
.btns #member{
    color: white;
    background-color: rgb(18, 196, 18);
    padding: 9px;
}
.btns #non-certif{
    background-color: rgb(193, 207, 231);
}

#apply{
    color: rgb(18, 196, 18);
    font-weight: 700;
    cursor: pointer;
}

.viewDet{
    text-align: center;
    display: flex;
    align-items: center;
    
}

.viewDet >*{
    margin: 4px;
    font-weight: 400;
}

.gridInfo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    background: #EAECEA;
}
.grid{/*grids in gridInfo (3 in number)*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left !important;
}


.grid.grid-right{/*grid meant to be aligned to the right in the gridInfo container; the first two go to the left side*/
    justify-self: flex-end !important;
    float: right;
}
#unit{
    font-weight: 100;
}
.grid >*{
    margin: 8px;
    font-size: 13px;
}
#gridImg{/*icons in grid*/
    width: 85%;
    height: 80%;
}
.volumes{/*volume containers in grid*/
    color: #878B87;
    width: 90px;
    padding: 8px;
}

#volume-num {
    color: black;
}
.cont.trends-and-number{/*for the trends and analytics*/
    display: flex;
    justify-content: space-around;
    padding: 4px;
    margin-top: 10%;
}
.trends-and-number >*{
    margin: 5%;
    width:50%;
    height: 100%;
}

.trends-and-number>*>*{/*all within trends and numbers cont are two conts holding canvas separately. Now I'm controlling the widht and height of each*/
    width:30%;
    height: 100%;
}

.line{
    width: 100%;
    height:70%
}

/* enterprise satistics here (it's found in the "container" container)*/
.enterPrise-stat{/*main enterprise stats container. Also has the .cont className*/
    display: flex;
    justify-content: space-around;
    width: 100%;
}
 .card{/*card containers in enterprise stats*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom:0;
    width: 30%;
    border-radius: 10px;
    border: solid 1px black;
    margin: 10px;
}
#companyUseImg{/*images in cards*/
    width: 100%;
    height: 70%;
}
.card>*{
    width: 100%;
    height:70%;
    border-radius:10px;
}
.absolute-cardName{/*to be absoluted within the card as the name of each enterprise/company*/
    display: flex;
    place-items: center;
    width: 20%;
    height: 5%;
    position: absolute;
    top: 50%;
    left: 55%;
    right: 70%;
    bottom: 20%;
    border-radius:5px;
    background-color: white;
    color: black;
    width: 105px;
    height: 26px;
    padding: 8px;
    text-align: center;
}

.gridHealth{/*the gridHealth containers within the enterprise-stat*/
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    color: #B3BCB3;
    font-size: 10px;
}

.gridHealth>.yieldTotal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
}

.border-right{/*these are still the yieldTotal containers, but first and last, respectively, to give the demacating points*/
    border-right: solid 2px #D9D9D9;
}
.border-left{
    border-left: solid 2px #D9D9D9;
}

.total-txt-cont{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
#numb{
    color: black;
}

